h1 {
	font: 18pt Georgia, "Times New Roman";
}

body {
	font: 12pt Arial;
} 

a:link {
	font: 12pt Arial; 
	font-weight: bold; 
	color: #0000cc} 

blockquote {
	font-family: monospace; 
}  

.header { 
	background: #e0ecff; 
	border-bottom: solid 4px #c3d9ff; 
	padding: 5px; 
	margin-top: 0px; 
	color: red;
} 

.header a { 
	font-size: 20px; 
	text-decoration: none; 
} 

.footer { 
	background: #c3d9ff; 
	border-top: solid 4px #c3d9ff; 
	padding: 5px; margin-bottom: 0px; 
} 

#entry {
	border: solid 4px #c3d9ff; 
} 

#body { 
	margin-left: 5px; 
	margin-right: 5px; 
}